Colors och vlan

Vi stryker colours och att inte begränsa användningen VLAN enligt diskussion på mötet. 

Efter ytterligare diskussioner så kan det troligen vara lämpligt att inte använda VLAN taggning för Internet Access. Colors syfte måste klargöras. 

VI får leta i gamla materialet, men jag vill minnas att Peter menade att syftet var att ha en nationell plan för taggning så inte varje operatör hade en egen flora av taggar för samma tjänster. Det skulle göra det svårt i lägen där trafik växlas mellan operatörer. (men jag kan ha helfel här)

Jag tänker att saker under IP är ointressant så länge kontakten passar. Detta måste nog vara en grundförutsättning för att komma framåt. Dvs skippa VLAN.

Men, vad är Colors?

- https://en.wikipedia.org/wiki/IEEE_802.1Q , men är eth VLAN, så borde inte vara den
- https://www.cisco.com/c/en/us/td/docs/ios/12_2sb/12_2sba/feature/guide/sba_cap.html, CISCO Color Aware sak baserad på RFC2697 och RFC2698
- RFC2687 och RFC2698 är metoder för att märka paket i en diffserv-kontext
- RFC4594 är en lista av diffserv-klasser där begreppet color förekommer rätt ofta.

Jag är inte så bra insatt i diffserv, men luktar det inte som att det är diffserv som avses?

Jag har nu mailat frågan till Peter.

Jag vet inte exakt vad Peter menar i detta sammanhanget, men https://www.data.proidea.org.pl/plnog/11edycja/PLNOG_11_Day_1/Main_Track/Ian_Farrer.pdf som är en presentation om Terastream kanske kan ge svar. I det projektet så var det identifiering av tjänstetyp och hur dessa sen hanterades inom QoS/PHB (Per-Hop-Behavior).

Slide 15:
The Solution? - “Prefix Colouring”
! Adds additional metadata to DHCP prefix allocations
! Allows applications and users to select a source prefix based on this metadata
! Source address selection is decoupled from the destination address prefix matching
! Can also help with source address selection in multi-homing deployments
! Described in ‘draft-lepape-6man-prefix-metadata’ 

@flindeberg  / jag fixar utkast enligt diskussion på mötet idag.

@mikaabra Den var mycket intressant. https://datatracker.ietf.org/doc/draft-lepape-6man-prefix-metadata/

Verkar dock inte ha blivit något av den. 

Det som är intressant med är att IANA ska koordinera märkning: 

>    Should the global scoping for prefix color be chosen, a new registry should be created by IANA to store colors.

Jag tror aldrig att det skulle bli standardisering via IANA, utan det var snarare att färger kan ha lokal betydelse. 

Man har inte ens lyckats standardisera vad DSCP-bittarna betyder (det finns multipla standarder), detta är motsvarande.

Så det var mest för att förstå vad Peter menar när han pratar om "färger".

Jag ser denna som hanterad.